<%# <h1>Bloggers#show</h1>
<p>Find me in app/views/bloggers/show.html.erb</p> %>


<% if flash[:message] %>
  <h3 style="color: green"><%= flash[:message]%></h3>
<% end %>

<h1><%= @blogger.name %></h1>
<h1><%= @total_likes %></h1>
<h1><%= link_to @most_likes.title, post_path(@most_likes)%></h1>
